/* Variable */
$size_avatar: 50px;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 62.5%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden;
  height: 100%;
}

/* Comment */

.wrapper {
  $padding: 2rem;
  border-bottom: 2px solid #eee;
  padding: $padding;
  position: relative;

  .left_line {
    position: absolute;
    width: 2px;
    height: calc(100% - #{$padding} - 80px);
    background-color: #eee;
    //paddingTop + height of avatar + optional
    top: calc(#{$padding} + #{$size_avatar} + 1rem);
    // paddingLeft + 1/2 width of avatar
    left: calc(#{$padding} + #{$size_avatar / 2});
  }
}

.parentComment {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
  width: $size_avatar;
  height: $size_avatar;
}

.no_avatar {
  width: $size_avatar;
  height: $size_avatar;
  border-radius: 50%;
  background-color: #e0f2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #0000ff;
  font-weight: 500;
  text-transform: capitalize;
  flex: none;
}

.name {
  text-transform: capitalize;
  font-weight: 500;
  margin-right: 1rem;
  font-size: 1rem;
}

.time {
  color: #aaa;
  font-size: 0.8rem;
}

.text {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  &::first-letter {
    text-transform: capitalize;
  }
}

.reply_section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.iLikedIt {
  background-color: blue !important;
  color: #fff;
}

.btn {
  border: none;
  background: none;
}
.like {
  background-color: #f1f9fc;
  border: none;
  border-radius: 15px;
  width: 60px;
  height: 30px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.reply {
  color: blue;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 0.9rem;
}

/* Reply */
.wrapper-reply {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-left: calc(#{$size_avatar});
}

/* FormDiscussion */
.form_wrapper {
  width: 100%;
  background-color: #f1f9fc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
}

.form_discussion {
  width: 100%;
}

.form_btn {
  display: none;
}
.input_discussion {
  border: none;
  box-shadow: 0 0 5px #aaa;
  border-radius: 5px;
  height: 40px;
  max-width: 30rem;
  width: 80%;
  background: #fff;
  color: #aaa;
  padding: 1rem;
  letter-spacing: 0.3px;
  &::placeholder {
    color: #aaa;
  }
}

.reply_form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-left: calc(#{$size_avatar} + 1rem);
}
